* {
    all: unset;
	font-family: Hack Nerd Font;
	font-size: 11pt;
    //color: #D8DEE9;
}

window {
    background-color: #3B4252;
}

/**** Common ****/
.float {
    border: 5px solid #88c0d0;
}

.metric_label {
  font-size: 1.5rem;
}

.metric_progress trough progress {
  background-color: #88c0d0;
  min-height: 10px;
}

.metric_progress trough {
  background-color: #2E3440;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 5px;
}

.metric_progress_red trough progress {
  background-color: #bf616a;
  min-height: 10px;
}

.metric_progress_red trough {
  background-color: #2E3440;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 5px;
}

/**** DASH ****/
.media_control {
    padding: 5px;
}

.media_control:hover{
    background-color: #434C5E;
}

.calendar_entry {
    border: 2px solid #2e3440;
}

.calendar_date {
    border-bottom: 1px dotted #2e3440;
}

.sinks_button {
    padding: 5px;
}

.sinks_button:hover{
    background-color: #434C5E;
}

/* progress bars */
.cava_bar {
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cava_bar trough progress {
    background-color: #4c566a;
    min-width: 15px;
}

.cava_bar trough {
    background-color: #2e3440;
    min-width: 1px;
}


/**** BAR ****/

/* wm stuff */
.ws-button, .ws-button-mine, .ws-button-visible, .ws-button-busy {
    min-height: 25px;
	border: none;
	background: none;
    text-decoration: none;
    border-radius: 0px;
    padding: 0px;
}

.ws-button-mine {
    color: #2E3440;
    background-color: #88C0D0;
}

.ws-button-visible {
    color: #2E3340;
    background-color: #5E81AC;
}

.ws-button-busy {
    color: #8FBCBB;
}

/*bar statuses*/

.internet {
    margin-right: 5px;
    border-bottom: 3px solid #B48EAD;
}

/* progress bars */
.volume_bar {
    padding: 5px;
}

.volume_bar trough progress {
    background-color: #A3BE8C;
    min-height: 3px;
}

.volume_bar trough {
    background-color: #2E3440;
    min-height: 1px;
}
